/bin/
/manager
*.tgz
/*gpu-operator*.tgz
/helm-charts-k8s/charts/*.tgz
*.out
.container_ready
*.sw*

# node app for e2e test
id_rsa*
nodeapp

# Sphinx documentation
_build/
.venv/
__pycache__/
tests/pytests/bin/
tests/pytests/console.log
tests/pytests/logs/
tests/e2e/e2e-artifacts/*
